// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.page-header {
  background: image-url('owl.jpg');
  background-repeat: no-repeat;
  h1 {
    margin-left: 150px;
  }
}

.button,
input[type=submit] {
  border: 1px solid black;
}
