<!DOCTYPE html>
<html>
<head>
  <title>MediaRanker</title>
  <%= stylesheet_link_tag    "application", media: "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div class="container">
    <div class="row">
      <div class="page-header">
        <h1>Media Tracker <small>Ranking the Best of Everything</small></h1>
      </div>
    </div>
    <%= yield %>
  </div>
</body>
</html>
